<div class="min-h-screen w-full flex items-center justify-center">
	<div class="bg-white dark:bg-slate-800 w-auto md:w-96 mx-5 md:mx-0 prose-zinc shadow p-8 rounded-md border-b-4 border-indigo-400 dark:border-purple-400" [loader]="isLoading">
		<h1 class="font-bold text-3xl">Sign In</h1>
		<p>Welcome back, enter your credentials</p>

		<form [formGroup]="loginForm" (submit)="signIn()">
			<div class="block mt-4">
				<label for="email">E-mail</label>
				<input type="email" name="email" id="email" formControlName="email" placeholder="Enter your e-mail" class="w-full mb-2 text-input" [class.border-red-500]="isFieldInvalid('email')">
				<app-form-errors controlName="email" error="required">Email required</app-form-errors>
				<app-form-errors controlName="email" error="email">Invalid email</app-form-errors>
			</div>

			<div class="block mt-4">
				<label for="password">Password</label>
				<input type="password" name="password" id="password" formControlName="password" placeholder="Enter your password" class="w-full mb-2 text-input" [class.border-red-500]="isFieldInvalid('password')">
				<app-form-errors controlName="password" error="required">Password required</app-form-errors>
			</div>

			<div class="block mt-4">
				<button type="submit" class="w-full btn-primary" [class.spinner]="loginForm.disabled" [disabled]="loginForm.disabled">
					<span class="spinner-text">Sign In <fa-icon [icon]="['fas', 'right-to-bracket']"></fa-icon></span>
				</button>
			</div>
		</form>
	</div>
</div>
