<app-new-connector #newConnector (submitResponse)="setPage({ currentPage: page.pageIndex })"></app-new-connector>

<app-update-connector #updateConnector (onUpdate)="setPage({ currentPage: page.pageIndex })"></app-update-connector>

<app-new-connector-function #newConnectorFunction (onSubmit)="connectorFunctions.push($event)"></app-new-connector-function>

<app-update-connector-function #updateConnectorFunction (onSubmit)="updateConnectorFunctionSubmit($event)"></app-update-connector-function>

<div class="grid grid-cols-1 md:grid-cols-2 items-center mb-8">
	<div>
		<h1 class="text-2xl font-semibold">Connectors</h1>
		<p class="text-slate-500 dark:text-slate-600">Create or import connectors.</p>
	</div>

	<div class="mt-5 md:mt-0 text-right">
		<button type="button" class="w-full md:w-auto btn-primary" [class.spinner]="isLoading" [disabled]="isLoading" (click)="newConnector.open()">
			<span class="spinner-text">New <fa-icon [icon]="['fas', 'plus']"></fa-icon></span>
		</button>

		<button type="button" class="w-full md:w-auto mt-5 md:ml-5 md:mt-0 cursor-not-allowed btn-primary" [class.spinner]="isLoading" disabled>
			<span class="spinner-text">Import <fa-icon [icon]="['fas', 'file-import']"></fa-icon></span>
		</button>
	</div>
</div>

<div class="bg-white dark:bg-slate-800 shadow border dark:border-0 border-b-4 border-b-indigo-400 dark:border-b-purple-400 rounded-md">
	<div class="grid grid-cols-3 divide-x divide-gray-100 dark:divide-gray-900 h-96 max-h-96">
		<!-- START: CONNECTORS -->
		<div class="flex flex-col h-0 min-h-full">
			<div class="flex-1 overflow-y-auto divide-y divide-gray-100 dark:divide-gray-900">
				<div class="flex justify-between py-3 px-6 cursor-pointer hover:bg-gray-50 dark:hover:bg-slate-900" [ngClass]="{ 'bg-gray-50 dark:bg-slate-900': activeConnector == connector.id }" *ngFor="let connector of connectors" (click)="expandFunction(connector, $event)">
					<span class="self-center">{{ connector.name }}</span>

					<div class="self-center">
						<button type="button" class="btn-primary w-auto !py-0.5 !px-1 ml-3 text-sm" matTooltip="New function" (click)="$event.preventDefault(); newConnectorFunction.open(connector.id)"><fa-icon [icon]="['fas', 'plus']"></fa-icon></button>
						<button type="button" class="btn-primary w-auto !py-0.5 !px-1 ml-3 text-sm" matTooltip="Edit" (click)="updateConnector.open(connector)"><fa-icon [icon]="['fas', 'pencil']"></fa-icon></button>
						<button type="button" class="btn-danger w-auto !py-0.5 !px-1 ml-3 text-sm" [class.spinner]="deleteBtn.disabled" matTooltip="Delete" #deleteBtn (click)="deleteConnector(deleteBtn, connector)">
							<span class="spinner-text"><fa-icon [icon]="['fas', 'trash']"></fa-icon></span>
						</button>
					</div>
				</div>
			</div>

			<div class="flex-none p-3 border-t border-t-gray-50 dark:border-t-gray-900">
				<app-paginator
					[serverSide]="true"
					[totalItems]="page.count"
					[initialPage]="1"
					[pageSize]="10"
					[maxPages]="5"
					(changePage)="setPage($event)"
				></app-paginator>
			</div>
		</div>
		<!-- END: CONNECTORS -->

		<!-- CONNECTOR FUNCTIONS -->
		<div class="col-span-2 overflow-y-auto max-h-96">
			<span class="flex justify-center items-center h-full" *ngIf="!activeConnector">
				Select a connector to visualize its functions.
			</span>

			<span class="flex justify-center items-center h-full" *ngIf="activeConnector && connectorFunctions?.length == 0">
				There's no functions for this connector.
			</span>

			<div class="divide-y divide-gray-100 dark:divide-gray-900">
				<details class="group py-3 px-6 hover:bg-gray-50 dark:hover:bg-slate-900" *ngFor="let connectorFunction of connectorFunctions">
					<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
						<span>{{ connectorFunction.name }}</span>

						<div class="ml-auto mr-3">
							<button type="button" [routerLink]="['/connector-function']" [queryParams]="{connectorFunctionId: connectorFunction.id}" class="btn-primary w-auto !py-0.5 !px-1 ml-3 text-sm" matTooltip="New version"><fa-icon [icon]="['fas', 'plus']"></fa-icon></button>
							<button type="button" class="btn-primary w-auto !py-0.5 !px-1 ml-3 text-sm" matTooltip="Edit function" (click)="updateConnectorFunction.open(connectorFunction)"><fa-icon [icon]="['fas', 'pencil']"></fa-icon></button>
							<button type="button" class="btn-danger w-auto !py-0.5 !px-1 ml-3 text-sm" [class.spinner]="deleteConnectorFunctionBtn.disabled" matTooltip="Delete function" #deleteConnectorFunctionBtn (click)="deleteConnectorFunction(deleteConnectorFunctionBtn, connectorFunction.id)">
								<span class="spinner-text"><fa-icon [icon]="['fas', 'trash']"></fa-icon></span>
							</button>
						</div>

						<span class="transition group-open:rotate-180"><fa-icon [icon]="['fas', 'chevron-down']"></fa-icon></span>
					</summary>

					<div class="mt-3" *ngIf="connectorFunction.versions.length == 0">
						No versions for this function.
					</div>

					<div class="mt-3" *ngFor="let versions of connectorFunction.versions">
						<div class="self-center">{{ versions.version }}</div>

						<div class="self-center">
							<button type="button" class="btn-primary w-auto !py-0.5 !px-1 ml-3 text-sm" matTooltip="New function"><fa-icon [icon]="['fas', 'plus']"></fa-icon></button>
							<button type="button" class="btn-primary w-auto !py-0.5 !px-1 ml-3 text-sm" matTooltip="Edit"><fa-icon [icon]="['fas', 'pencil']"></fa-icon></button>
							<button type="button" class="btn-danger w-auto !py-0.5 !px-1 ml-3 text-sm" matTooltip="Delete"><fa-icon [icon]="['fas', 'trash']"></fa-icon></button>
						</div>
					</div>
				</details>
			</div>
		</div>
	</div>
</div>
