<app-connector-function-stderr #connectorFunctionStderrModal></app-connector-function-stderr>

<div class="grid grid-cols-1 md:grid-cols-2 items-center mb-8">
	<div>
		<h1 class="text-2xl font-semibold w-auto">Connector function</h1>
		<p class="text-slate-500 dark:text-slate-600">Create or edit a function from your connector.</p>
	</div>

	<div class="mt-5 md:mt-0 text-right">
		<button type="submit" form="connectorFunctionForm" class="w-full md:w-auto btn-primary" [class.spinner]="isLoading || connectorFunctionForm.disabled" [disabled]="isLoading || connectorFunctionForm.disabled">
			<span class="spinner-text">Save <fa-icon [icon]="['fas', 'floppy-disk']"></fa-icon></span>
		</button>

		<button type="button" class="w-full md:w-auto md:ml-5 mt-5 md:mt-0 btn-danger" [class.spinner]="isLoading || connectorFunctionForm.disabled" [disabled]="isLoading || connectorFunctionForm.disabled" *ngIf="connectorFunctionHistoryId" (click)="deleteConnectorFunction()">
			<span class="spinner-text">Delete <fa-icon [icon]="['fas', 'trash']"></fa-icon></span>
		</button>
	</div>
</div>

<div class="alert alert-secondary mb-5 space-x-6"
	[class.alert-primary]="buildStatus == 'Running'"
	[class.alert-success]="buildStatus == 'Success'"
	[class.alert-danger]="buildStatus == 'Failed'"
	[class.alert-secondary]="buildStatus == 'Unknown'"
	*ngIf="buildStatus"
>
	<span class="spinner spinner-text" *ngIf="buildStatus == 'Running'"></span>

	<div class="justify-between" [class.inline-block]="buildStatus == 'Running'" [class.flex]="buildStatus != 'Running'">
		<span>Connector function build status: <strong>{{ buildStatus }}</strong></span>
		<span *ngIf="buildStatus == 'Failed'" class="underline cursor-pointer" (click)="openLogs(connectorFunctionStderrModal)">Build logs</span>
	</div>
</div>

<form [formGroup]="connectorFunctionForm" id="connectorFunctionForm" (submit)="saveConnectorFunction()">
	<!-- DETAILS -->
	<div class="card" [loader]="isLoading">
		<details class="group" [open]="!connectorFunctionHistoryId">
			<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
				<span>Details</span>

				<span class="transition group-open:rotate-180"><fa-icon [icon]="['fas', 'chevron-down']"></fa-icon></span>
			</summary>

			<div class="text-neutral-600 dark:text-white group-open:animate-fadeIn">
				<p>
					Enter the basic details about this function.
				</p>

				<div class="block mt-4">
					<label for="name">Version</label>
					<input type="text" name="version" id="version" formControlName="version" placeholder="Enter connector function version" maxlength="50" mask="0.0.0" class="w-full mb-2 text-input" [readonly]="connectorFunctionHistoryId">
					<app-form-errors controlName="version" error="required">Connector function version required.</app-form-errors>
					<app-form-errors controlName="version" error="pattern">The version must be in the format of 'x.x.x'.</app-form-errors>
				</div>
			</div>
		</details>
	</div>

	<!-- INPUTS -->
	<div class="card mt-5" [loader]="isLoading">
		<details class="group" #inputDetails>
			<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
				<span>
					<button type="button" class="w-auto !py-0.5 !px-1 mr-1 btn-primary" (click)="addInput(null); inputDetails.open = true" matTooltip="Add input">
						<span class="spinner-text"><fa-icon [icon]="['fas', 'plus']"></fa-icon></span>
					</button>

					Inputs
				</span>

				<span class="transition group-open:rotate-180"><fa-icon [icon]="['fas', 'chevron-down']"></fa-icon></span>
			</summary>

			<p *ngIf="!inputs.length" class="mt-5 text-neutral-600 dark:text-white">
				No inputs added yet. Click on the plus button to add a new input.
			</p>

			<div class="px-6 py-4 mt-5 bg-gray-50 dark:bg-slate-700 text-neutral-600 dark:text-white border dark:border-0 rounded-md" formArrayName="inputs" *ngFor="let input of inputs.controls; let i = index">
				<details class="group" [formGroupName]="i" open>
					<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
						<span>
							<button type="button" class="w-auto !py-0.5 !px-1 mr-1 btn-danger" (click)="removeInput(i)" matTooltip="Remove input">
								<span class="spinner-text"><fa-icon [icon]="['fas', 'minus']"></fa-icon></span>
							</button>

							Input {{ i + 1 }} {{ input.value.name ? '(' + input.value.name + ')' : '' }}
						</span>

						<span class="transition group-open:rotate-180"><fa-icon [icon]="['fas', 'chevron-down']"></fa-icon></span>
					</summary>

					<div class="block mt-4">
						<label for="inputType">Input type</label>
						<select name="inputType" id="inputType" formControlName="inputType" class="w-full mb-2 text-input" (change)="inputType.value == 'List' ? addInputValue(input) : removeAllInputValues(input)" #inputType>
							<option	value>Select an option</option>
							<option value="String">String</option>
							<option value="List">List</option>
						</select>
						<app-form-errors [control]="input" controlName="inputType">Input type is required.</app-form-errors>
					</div>

					<div class="block mt-4">
						<label for="name">Name</label>
						<input type="text" name="name" id="name" formControlName="name" placeholder="Enter input name" maxlength="25" class="w-full mb-2 text-input">
						<app-form-errors [control]="input" controlName="name" error="required">Input name required.</app-form-errors>
						<app-form-errors [control]="input" controlName="name" error="maxlength">Maximum characters are 25.</app-form-errors>
					</div>

					<div class="block mt-4">
						<label for="placeholder">Placeholder</label>
						<input type="text" name="placeholder" id="placeholder" formControlName="placeholder" placeholder="Enter input placeholder" maxlength="50" class="w-full mb-2 text-input">
						<app-form-errors [control]="input" controlName="placeholder" error="required">Placeholder required.</app-form-errors>
						<app-form-errors [control]="input" controlName="placeholder" error="maxlength">Maximum characters are 50.</app-form-errors>
					</div>

					<div class="block mt-4">
						<label for="replace">Replace string</label>
						<input type="text" name="replace" id="replace" formControlName="replace" placeholder="Enter input replace string" maxlength="25" class="w-full mb-2 text-input">
						<app-form-errors [control]="input" controlName="replace" error="required">Replace string required.</app-form-errors>
						<app-form-errors [control]="input" controlName="replace" error="maxlength">Maximum characters are 25.</app-form-errors>
					</div>

					<!-- LIST VALUES -->
					<div class="px-6 py-4 mt-5 bg-white dark:bg-slate-800 border dark:border-0 rounded-md" *ngIf="input.value.inputType == 'List'">
						<details class="group" open>
							<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
								<span>Values</span>

								<span class="transition group-open:rotate-180"><fa-icon [icon]="['fas', 'chevron-down']"></fa-icon></span>
							</summary>

							<div class="block mt-4" formArrayName="values" *ngFor="let value of getInputValues(input).controls; let j = index">
								<label for="values">Value {{ j + 1 }}</label>

								<div class="relative">
									<input type="text" name="values" id="values" [formControlName]="j" placeholder="Enter the list option {{ j + 1 }}" maxlength="25" class="block w-full mb-2 text-input">

									<button type="button" class="absolute right-0 top-1/2 -translate-y-1/2 w-auto !py-0.5 !px-1 mr-2 text-sm btn-primary" (click)="addInputValue(input)" *ngIf="j == 0" matTooltip="Add value">
										<span class="spinner-text"><fa-icon [icon]="['fas', 'plus']"></fa-icon></span>
									</button>

									<button type="button" class="absolute right-0 top-1/2 -translate-y-1/2 w-auto !py-0.5 !px-1 mr-2 text-sm btn-danger" (click)="removeInputValue(input, j)" *ngIf="j > 0" matTooltip="Remove value">
										<span class="spinner-text"><fa-icon [icon]="['fas', 'minus']"></fa-icon></span>
									</button>
								</div>
							</div>
						</details>
					</div>

					<div class="block mt-4">
						<label for="defaultValue">Default value</label>
						<input type="text" name="defaultValue" id="defaultValue" formControlName="defaultValue" placeholder="Enter input default value" maxlength="25" class="w-full mb-2 text-input">
						<app-form-errors [control]="input" controlName="defaultValue" error="maxlength">Maximum characters are 25.</app-form-errors>
					</div>

					<div class="mt-4">
						<label class="inline-flex items-center">
							<input type="checkbox" name="required" id="required" formControlName="required" class="rounded border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-300 focus:ring focus:ring-offset-0 focus:ring-indigo-200 focus:ring-opacity-50">
							<span class="ml-2">Required?</span>
						</label>
					</div>

					<div class="mt-0">
						<label class="inline-flex items-center mt-3">
							<input type="checkbox" name="advancedOption" id="advancedOption" formControlName="advancedOption" class="rounded border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-300 focus:ring focus:ring-offset-0 focus:ring-indigo-200 focus:ring-opacity-50">
							<span class="ml-2">Advanced option?</span>
						</label>
					</div>
				</details>
			</div>
		</details>
	</div>

	<!-- CODE -->
	<div class="card mt-5" [loader]="isLoading">
		<details class="group" open>
			<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
				<span>Code</span>

				<span class="transition group-open:rotate-180"><fa-icon [icon]="['fas', 'chevron-down']"></fa-icon></span>
			</summary>

			<div class="text-neutral-600 dark:text-white group-open:animate-fadeIn">
				<p>
					Enter the <code>JavaScript</code> code you want to build or run here. Ensure it's valid and follows coding best practices.
				</p>

				<div class="mt-4 max-w-full">
					<ngx-codemirror [options]="{ lineNumbers: true, theme: 'material-darker', mode: 'javascript' }" #codeEditor></ngx-codemirror>
				</div>
			</div>
		</details>
	</div>

	<!-- PACKAGE -->
	<div class="card mt-5" [loader]="isLoading">
		<details class="group" open>
			<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
				<span>Package</span>

				<span class="transition group-open:rotate-180"><fa-icon [icon]="['fas', 'chevron-down']"></fa-icon></span>
			</summary>

			<div class="text-neutral-600 dark:text-white group-open:animate-fadeIn">
				<p>
					Paste the contents of your <code>package.json</code> file, including dependencies and project-specific settings. Ensure the JSON is well-formatted and contains all necessary build information.
				</p>

				<div class="mt-4 max-w-full">
					<ngx-codemirror [options]="{ lineNumbers: true, theme: 'material-darker', mode: 'javascript' }" #packageEditor></ngx-codemirror>
				</div>
			</div>
		</details>
	</div>
</form>
