<app-modal #newUser (onHide)="createUserForm.reset()">
	<span title>Create user</span>

	<span subhead>Create a new user to the system.</span>

	<form [formGroup]="createUserForm" (click)="createUser()">
		<div class="block mt-4">
			<label for="name">Name</label>
			<input type="text" name="name" id="name" formControlName="name" placeholder="Enter user name" maxlength="240" class="w-full mb-2 text-input">
			<app-form-errors controlName="name" error="required">User name required.</app-form-errors>
			<app-form-errors controlName="name" error="maxlength">Maximum characters are 50.</app-form-errors>
		</div>

		<div class="block mt-4">
			<label for="email">E-mail</label>
			<input type="email" name="email" id="email" formControlName="email" placeholder="Enter user email" maxlength="64" class="w-full mb-2 text-input">
			<app-form-errors controlName="email" error="required">User email required.</app-form-errors>
			<app-form-errors controlName="email" error="email">Invalid user email.</app-form-errors>
		</div>

		<div class="block mt-4">
			<label for="userRole">User role</label>
			<select name="userRole" id="userRole" formControlName="userRole" class="w-full mb-2 text-input">
				<option value="User" selected>User</option>
				<option value="Admin">Admin</option>
			</select>
			<app-form-errors controlName="userRole" error="required">Uer role required.</app-form-errors>
		</div>

		<div class="block mt-4">
			<label for="tempPassword">Temporary password</label>
			<input type="password" name="tempPassword" id="tempPassword" formControlName="tempPassword" placeholder="Enter temporary password" autocomplete="new-password" maxlength="64" class="w-full mb-2 text-input">
			<app-form-errors controlName="tempPassword" error="required">Password required.</app-form-errors>
			<app-form-errors controlName="tempPassword" error="pattern">Weak password.</app-form-errors>
			<app-form-errors controlName="tempPassword" error="maxlength">Maximum characters are 64.</app-form-errors>
			<app-form-errors controlName="tempPassword" error="minlength">Minimum characters are 8.</app-form-errors>
		</div>

		<div class="block mt-4">
			<label for="confirmTempPassword">Confirm temporary password</label>
			<input type="password" name="confirmTempPassword" id="confirmTempPassword" formControlName="confirmTempPassword" placeholder="Confirm temporary password" autocomplete="new-password" maxlength="64" class="w-full mb-2 text-input">
			<app-form-errors controlName="confirmTempPassword" error="required">Confirm password required.</app-form-errors>
			<app-form-errors controlName="confirmTempPassword" error="matching">Password don't match.</app-form-errors>
		</div>

		<div class="block mt-4">
			<button type="submit" class="w-full btn-primary" [class.spinner]="createUserForm.disabled" [disabled]="createUserForm.disabled">
				<span class="spinner-text">Create <fa-icon [icon]="['fas', 'plus']"></fa-icon></span>
			</button>
		</div>
	</form>
</app-modal>
