@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/material-darker';

::-webkit-scrollbar {
	@apply w-1 cursor-pointer h-2;
}

::-webkit-scrollbar-thumb {
	@apply cursor-pointer bg-gray-300 hover:bg-gray-400 dark:bg-gray-900 dark:hover:bg-gray-950 rounded-lg;
}

.text-input {
	@apply rounded-md shadow-sm dark:bg-gray-900 border-gray-300 focus:ring focus:border-indigo-300 focus:ring-indigo-200 focus:ring-opacity-50;
}

.btn {
	@apply py-2 px-4 rounded;
}

.btn-sm {
	@apply text-sm !px-1 !py-0.5;
}

.btn-primary {
	@apply text-white py-2 px-4 rounded dark:bg-purple-500 dark:hover:bg-purple-600 bg-indigo-500 hover:bg-indigo-600;
}

.btn-danger {
	@apply text-white py-2 px-4 rounded bg-rose-500 hover:bg-rose-600;
}

.btn-success {
	@apply text-white py-2 px-4 rounded bg-emerald-500 hover:bg-emerald-600;
}

.btn-light {
	@apply text-gray-900 bg-white border border-gray-300 hover:bg-gray-100 rounded dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600
}

.card {
	@apply px-6 py-4 bg-white dark:bg-slate-800 shadow border dark:border-0 border-b-4 border-b-indigo-400 dark:border-b-purple-400 rounded-md;
}

.alert {
	@apply w-full mt-5 px-4 py-2 select-none rounded-md;
}

.alert-success {
	@apply bg-green-100 text-green-800 dark:bg-green-900 dark:text-green-300;
}

.alert-danger {
	@apply bg-red-100 text-red-800 dark:bg-red-900 dark:text-red-300;
}

.alert-primary {
	@apply bg-indigo-100 text-indigo-800 dark:bg-indigo-900 dark:text-indigo-300;
}

.alert-secondary {
	@apply bg-gray-100 text-gray-800 dark:bg-gray-700 dark:text-gray-300;
}

.badge {
	@apply text-xs text-center font-medium px-2.5 py-0.5 rounded;
}

.badge-success {
	@apply bg-green-100 text-green-800 dark:bg-green-900 dark:text-green-300;
}

.badge-danger {
	@apply bg-red-100 text-red-800 dark:bg-red-900 dark:text-red-300;
}

.badge-primary {
	@apply bg-indigo-100 text-indigo-800 dark:bg-indigo-900 dark:text-indigo-300;
}

.badge-secondary {
	@apply bg-gray-100 text-gray-800 dark:bg-gray-700 dark:text-gray-300;
}

.spinner {
	position: relative;
}

.spinner .spinner-text {
	visibility: hidden;
	opacity: 0;
}

.spinner::after {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border: 4px solid transparent;
	border-top-color: #ffffff;
	border-radius: 50%;
	animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
	from {
		transform: rotate(0turn);
	}

	to {
		transform: rotate(1turn);
	}
}
