<div class="card !p-0 mt-5" [loader]="isLoading">
	<div class="relative grid grid-cols-1 md:grid-cols-3 md:divide-x divide-gray-100 dark:divide-gray-900 h-screen md:h-[calc(100vh-12rem)]">
		<!-- START: INSTRUCTIONS -->
		<div class="flex flex-col h-0 min-h-full">
			<div class="flex-none py-3 px-6 border-b border-b-gray-50 dark:border-b-gray-900">
				<strong>Instructions</strong>
			</div>

			<div class="flex-1 overflow-y-auto divide-y divide-gray-100 dark:divide-gray-900" (click)="$event.stopPropagation()" (cdkDropListDropped)="drop($event)" cdkDropList>
				<div class="flex justify-between py-3 px-6 cursor-pointer hover:bg-gray-50 dark:hover:bg-slate-900" *ngFor="let instruction of pipelineInstructions; let i = index" cdkDrag (click)="$event.stopPropagation();expandInstruction(instruction, i)">
					<div class="space-x-2">
						<span class="cursor-grab space-x-0.5" cdkDragHandle>
							<fa-icon [icon]="['fas', 'ellipsis-vertical']" [fixedWidth]="false"></fa-icon>
							<fa-icon [icon]="['fas', 'ellipsis-vertical']" [fixedWidth]="false"></fa-icon>
						</span>

						<span>{{ getConnectorFunctionById(instruction.connectorFunctionId)?.name }}</span>
					</div>

					<div class="gap-x-2">
						<button class="btn-sm btn-danger" matTooltip="Remove" (click)="removeInstruction(i)">
							<fa-icon [icon]="['fas', 'trash']"></fa-icon>
						</button>
					</div>
				</div>
			</div>

			<button class="flex-none btn btn-success !rounded-bl !rounded-none" (click)="isConnectorsOpen = !isConnectorsOpen">New instruction</button>
		</div>
		<!-- END: INSTRUCTIONS -->

		<!-- START: INSTRUCTION DETAILS -->
		<div class="flex flex-col md:col-span-2 border-t md:border-t-0 overflow-y-auto h-0 min-h-full" *ngIf="!isConnectorsOpen">
			<span class="flex justify-center items-center h-full" *ngIf="!isInstructionExpanded">
				Select a instruction to visualize its properties.
			</span>

			<div class="flex-none py-3 px-6 border-b border-b-gray-50 dark:border-b-gray-900" *ngIf="isInstructionExpanded">
				<strong>{{ selectedConnectorFunction?.name }}</strong>
			</div>

			<div class="flex-1 py-3 px-6" *ngIf="isInstructionExpanded" [loader]="isConnectorFunctionHistoryLoading">
				<label for="name">Version</label>
				<select name="connectorFunctionHistoryId" id="connectorFunctionHistoryId" class="w-full mb-2 text-input" (change)="changeInstructionVersion(connectorFunctionVersionSelect.value, true)" #connectorFunctionVersionSelect>
					<option *ngFor="let version of getConnectorFunctionById(selectedConnectorFunction?.id!)?.versions; let i = index" [value]="version.id" [selected]="version.id == selectedConnectorFunctionHistory?.id">{{ version.version }}</option>
				</select>

				<div *ngFor="let input of selectedConnectorFunctionHistory?.inputs">
					<div class="block mt-4" *ngIf="!input.advancedOption">
						<label [htmlFor]="input.id">{{ input.name }} <small class="text-red-500" *ngIf="input.required">(required)</small></label>
						<input type="text" [id]="input.id" class="w-full mb-2 text-input" [value]="getInputValue(input)" [placeholder]="input.placeholder" *ngIf="input.inputType.toString() == 'String'" (input)="changeInputValue(input, connectorInput.value)" #connectorInput>

						<select [id]="input.id" class="w-full mb-2 text-input" *ngIf="input.inputType.toString() == 'List'" (change)="changeInputValue(input, connectorInput.value)" #connectorInput>
							<option value="">{{ input.placeholder }}</option>
							<option *ngFor="let value of input.values" [selected]="getInputValue(input) == value">{{ value }}</option>
						</select>
					</div>
				</div>

				<details class="group px-6 py-4 mt-5 bg-gray-50 dark:bg-slate-700 text-neutral-600 dark:text-white border dark:border-0 rounded-md" *ngIf="hasAdvancedInputs()">
					<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
						<span>Advanced inputs</span>

						<span class="transition group-open:rotate-180"><fa-icon [icon]="['fas', 'chevron-down']"></fa-icon></span>
					</summary>

					<div *ngFor="let input of selectedConnectorFunctionHistory?.inputs">
						<div class="block mt-4" *ngIf="input.advancedOption">
							<label [htmlFor]="input.id">{{ input.name }} <small class="text-red-500" *ngIf="input.required">(required)</small></label>
							<input type="text" [id]="input.id" class="w-full mb-2 text-input" [value]="getInputValue(input)" [placeholder]="input.placeholder" *ngIf="input.inputType.toString() == 'String'" (input)="changeInputValue(input, connectorInput.value)" #connectorInput>

							<select [id]="input.id" class="w-full mb-2 text-input" *ngIf="input.inputType.toString() == 'List'" (change)="changeInputValue(input, connectorInput.value)" #connectorInput>
								<option value="">{{ input.placeholder }}</option>
								<option *ngFor="let value of input.values" [selected]="getInputValue(input) == value">{{ value }}</option>
							</select>
						</div>
					</div>
				</details>
			</div>
		</div>
		<!-- END: INSTRUCTION DETAILS -->

		<!-- START: CONNECTORS -->
		<app-connectors-card
			class="md:col-span-2"
			[displayActions]="false"
			[displayHeaders]="true"
			[displayCursorSelect]="true"
			[displayVersions]="false"
			[hideEmptyFunctions]="true"
			(selectedFunction)="addFunction($event)"
			*ngIf="isConnectorsOpen">
		</app-connectors-card>
		<!-- END: CONNECTORS -->
	</div>
</div>
