<div class="px-6 py-4 mt-5 bg-white shadow border border-b-4 border-b-indigo-400 rounded-md">
	<details class="group" open>
		<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
			<span>Instructions</span>

			<span class="transition group-open:rotate-180"><fa-icon [icon]="['fas', 'chevron-down']"></fa-icon></span>
		</summary>

		<p class="text-neutral-600 group-open:animate-fadeIn">
			Enter the basic details about this function.
		</p>

		<div class="px-6 py-4 mt-5 bg-gray-50 border rounded-md">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span>Values</span>

					<span class="transition group-open:rotate-180"><fa-icon [icon]="['fas', 'chevron-down']"></fa-icon></span>
				</summary>

				<div class="block mt-4">
					asdasd
				</div>
			</details>
		</div>

		<div class="relative flex items-center justify-center my-2">
			<div class="h-full absolute left-1/2 bg-gray-400 transform -translate-x-1/2" style="width: 2px;"></div>
			<div class="mx-auto w-3/5 h-16 flex items-center justify-center"></div>
		</div>

		<!-- <div class="text-center">
			<button class="p-2 text-emerald-400 transition-colors duration-200 w-10 h-10 rounded-full bg-emerald-50 hover:text-emerald-600 hover:bg-emerald-100 focus:outline-none focus:bg-emerald-100 focus:ring-emerald-800">
				<span class="sr-only">Open search panel</span>
				<fa-icon [icon]="['fas', 'plus']"></fa-icon>
			</button>
		</div> -->

		<div class="text-center">
			<button class="p-2 text-rose-400 transition-colors duration-200 w-10 h-10 rounded-full bg-rose-50 hover:text-rose-600 hover:bg-rose-100 focus:outline-none focus:bg-rose-100 focus:ring-rose-800">
				<span class="sr-only">Open search panel</span>
				<fa-icon [icon]="['fas', 'xmark']"></fa-icon>
			</button>
		</div>

		<div class="px-6 py-4 mt-2 bg-gray-50 border rounded-md">
			...
		</div>
	</details>
</div>
