<app-modal #changePasswordModal (onHide)="changePasswordForm.reset()">
	<span title>Change password</span>

	<span subhead>Change password from a user in the system.</span>

	<form [formGroup]="changePasswordForm" (submit)="changePassword()">
		<div class="block mt-4">
			<label for="newPassword">New password</label>
			<input type="password" name="newPassword" id="newPassword" formControlName="newPassword" placeholder="Enter new password" autocomplete="new-password" maxlength="64" class="w-full text-input">
			<app-form-errors controlName="newPassword" error="required">Password required.</app-form-errors>
			<app-form-errors controlName="newPassword" error="pattern">Weak password.</app-form-errors>
			<app-form-errors controlName="newPassword" error="maxlength">Maximum characters are 64.</app-form-errors>
			<app-form-errors controlName="newPassword" error="minlength">Minimum characters are 8.</app-form-errors>
		</div>

		<div class="block mt-4">
			<label for="confirmNewPassword">Confirm password</label>
			<input type="password" name="confirmNewPassword" id="confirmNewPassword" formControlName="confirmNewPassword" placeholder="Confirm new password" autocomplete="new-password" maxlength="64" class="w-full text-input">
			<app-form-errors controlName="confirmNewPassword" error="required">Confirm password required.</app-form-errors>
			<app-form-errors controlName="confirmNewPassword" error="matching">Password don't match.</app-form-errors>
		</div>

		<div class="block mt-4">
			<button type="submit" class="w-full btn-primary" [class.spinner]="changePasswordForm.disabled" [disabled]="changePasswordForm.disabled">
				<span class="spinner-text">Update <fa-icon [icon]="['fas', 'plus']"></fa-icon></span>
			</button>
		</div>
	</form>
</app-modal>
