<div class="grid grid-cols-1 md:grid-cols-2 items-center mb-8">
	<div>
		<h1 class="text-2xl font-semibold">Pipeline</h1>
		<p class="text-slate-500 dark:text-slate-600">Edit your pipeline instructions.</p>
	</div>

	<div class="mt-5 md:mt-0 text-right">
		<button type="button" class="text-white w-full md:w-auto btn-primary" (click)="savePipeline()"
			[class.spinner]="pipelineDetails.isLoading || pipelineTrigger.isLoading || pipelineInstructions.isLoading || isRunning"
			[disabled]="pipelineDetails.isLoading || pipelineTrigger.isLoading || pipelineInstructions.isLoading || isRunning">
			<span class="spinner-text">Save <fa-icon [icon]="['fas', 'floppy-disk']"></fa-icon></span>
		</button>

		<button type="button" class="w-full md:w-auto md:ml-5 mt-5 md:mt-0 btn-success" (click)="runPipeline()"
			[class.spinner]="pipelineDetails.isLoading || pipelineTrigger.isLoading || pipelineInstructions.isLoading || isRunning"
			[disabled]="pipelineDetails.isLoading || pipelineTrigger.isLoading || pipelineInstructions.isLoading || isRunning">
			<span class="spinner-text">Run <fa-icon [icon]="['fas', 'play']"></fa-icon></span>
		</button>
	</div>
</div>

<div class="w-full mb-4 select-none rounded-md border-l-4 border-yellow-400 bg-yellow-100 px-4 py-2 hover:border-yellow-500" *ngIf="isRunning">
	Pipeline is running...
</div>

<!-- DETAILS -->
<app-pipeline-details #pipelineDetails></app-pipeline-details>

<!-- TRIGGER -->
<app-pipeline-trigger #pipelineTrigger></app-pipeline-trigger>

<!-- INSTRUCTIONS -->
<app-pipeline-instructions #pipelineInstructions></app-pipeline-instructions>
