<div class="fixed inset-0 z-10 bg-indigo-800 opacity-50" [class.hidden]="!isSearchBarOpen" (click)="toggleSearchBar()"></div>
<section class="fixed inset-y-0 left-0 z-20 w-full max-w-xs bg-white sm:max-w-md focus:outline-none" [class.hidden]="!isSearchBarOpen">
	<button class="absolute right-0 p-2 transform translate-x-full" (click)="toggleSearchBar()">
		<fa-icon [icon]="['fas', 'xmark']" class="text-white text-xl"></fa-icon>
	</button>

	<div class="flex flex-col h-screen">
		<div class="relative flex-shrink-0 px-4 py-8 text-gray-400 border-b dark:border-indigo-800 focus-within:text-gray-700">
			<span class="absolute inset-y-0 inline-flex items-center px-3"><fa-icon [icon]="['fas', 'magnifying-glass']"></fa-icon></span>
			<input type="text" class="w-full pl-10 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" placeholder="Search...">
		</div>

		<div class="flex-1 px-4 pb-4 space-y-4 overflow-y-hidden h hover:overflow-y-auto">
			<h3 class="py-2 text-sm font-semibold text-gray-600 dark:text-light">History</h3>
			<p>Search result... (coming soon)</p>
		</div>
	</div>
</section>
