<app-new-pipeline #pipelineModal (submitResponse)="setPage({ offset: 0 })"></app-new-pipeline>

<app-update-pipeline #updatePipeline (onUpdate)="setPage({ offset: page.pageIndex })"></app-update-pipeline>

<div class="grid grid-cols-1 md:grid-cols-2 items-center mb-8">
	<div>
		<h1 class="text-2xl font-semibold">Hello, {{ userInfo?.name!.split(" ")[0] }}!
		</h1>
		<p class="text-slate-500">See all your created pipelines.</p>
	</div>

	<div class="mt-5 md:mt-0 text-right">
		<button type="button" class="text-white w-full md:w-auto py-2 px-4 rounded bg-indigo-500 hover:bg-indigo-600" (click)="pipelineModal.open()">
			<span class="spinner-text">New <fa-icon [icon]="['fas', 'plus']"></fa-icon></span>
		</button>
	</div>
</div>

<ngx-datatable
	class="tailwind"
	[rows]="rows"
	[columns]="columns"
	[columnMode]="columnMode"
	[headerHeight]="50"
	[footerHeight]="50"
	rowHeight="auto"
	[externalPaging]="true"
	[count]="page.count"
	[offset]="page.pageIndex"
	[limit]="page.pageSize"
	[scrollbarH]="true"
	(page)="setPage($event)"
	[loader]="isLoading">

	<ngx-datatable-column name="Name" prop="name" [sortable]="true">
		<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
			<a [routerLink]="['/pipeline', row.id]">{{ value }}</a>
		</ng-template>
	</ngx-datatable-column>

	<ngx-datatable-column *ngFor="let col of columns" [prop]="col.prop" [name]="col.name"></ngx-datatable-column>

	<ngx-datatable-column name="Actions" prop="actions" [sortable]="false" [width]="256">
		<ng-template let-row="row" let-rowIndex="rowIndex" let-expanded="expanded" let-value="value" ngx-datatable-cell-template>
			<button type="button" class="text-white py-2 px-3 rounded bg-indigo-500 hover:bg-indigo-600" [routerLink]="['/runs', row.id]">
				<span class="spinner-text"><fa-icon [icon]="['fas', 'file-lines']"></fa-icon></span>
			</button>

			<button type="button" class="text-white py-2 px-3 ml-3 rounded bg-indigo-500 hover:bg-indigo-600" (click)="updatePipeline.open(row)">
				<span class="spinner-text"><fa-icon [icon]="['fas', 'pencil']"></fa-icon></span>
			</button>

			<button type="button" class="text-white py-2 px-3 ml-3 rounded bg-indigo-500 hover:bg-indigo-600" [class.spinner]="togglePipelineBtn.disabled" (click)="togglePipeline(togglePipelineBtn, row.id)" #togglePipelineBtn>
				<span class="spinner-text"><fa-icon [icon]="row.status == 'Stopped' ? ['fas', 'toggle-off'] : ['fas', 'toggle-on']"></fa-icon></span>
			</button>

			<button type="button" class="text-white py-2 px-3 ml-3 rounded bg-rose-500 hover:bg-rose-600" [class.spinner]="deletePipelineBtn.disabled" (click)="deletePipeline(deletePipelineBtn, row.id)" #deletePipelineBtn>
				<span class="spinner-text"><fa-icon [icon]="['fas', 'trash']"></fa-icon></span>
			</button>
		</ng-template>
	</ngx-datatable-column>
</ngx-datatable>
